body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

/* common css */
.text-center {
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}

.primary-btn {
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    color: #fff;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s;
}


.primary-btn:hover { 
    background-color: #272727; 
    color: #fff;
    transition: all 0.4s;
 }

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-head {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

/* navbar css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 240px;
}

nav .logo h1 {
    font-size: 32px;
    font-weight: 700;
}

nav .menu ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav .menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #111010;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s;
}

nav .menu ul li a:hover{
    text-decoration: underline; 
    color: #E55473; 
    transition: all 0.3s;
}

/* banner css */

.banner {
    background: rgba(229, 84, 115, 0.10);
    /* height: 100vh; */
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0px 240px;
}

.banner .title {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
}

.banner .content {
    max-width: 700px;
}

/* main css */
/* featured css */
.featured {
    margin: 170px 240px 120px;
}

.featured-images {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.featured-images>.img-box .one {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0;
}

.featured-images>.img-box .two {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 110px 50px 60px;
}

.featured-images>.img-box .three {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 70px 75px 0;
}

.featured-images h3 {
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
}

/* delivery css */

.delivery {
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 240px;
    padding: 85px 175px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.delivery h3 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}

/* hot deal css */

.hot-deal {
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin: 130px 0;
}

.hot-deal h1 span {
    color: #E55473;
}

.hot-deal p {
    margin-bottom: 30px;
}

/* Instagram css */

.instagram {
    margin: 0 240px 128px;
}

.instagram-images {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 50px;
}

/* Blog css */

.blog-area {
    margin: 0 240px 128px;
}

.blogs {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.blogs .blog {
    background-color: rgba(39, 39, 39, 0.05);
}

.blog img {
    width: 100%;
}

.blog .content {
    padding: 25px;
}

.blog .content p:first-child{
     margin-top: 0;
}

.blog .content p:last-child{
     margin-bottom: 0;
}

/* subscribe css */

.subscribe {
    background-image: url('img/subscribe-bg.png');
    background-size: cover;
    background-position: center;
    padding: 120px 280px;
    margin: 0 240px;
    border-radius: 8px;
}

.subscribe form {
    display: flex;
    gap: 16px;
}

.subscribe form input[type="mail"] {
    background-color: #fff;
    border: 0;
    padding: 22px;
    border-radius: 8px;
    min-width: 650px;
}

/* footer css */

footer {
    background-color: #111010;
    padding: 128px 0;
    margin-top: 128px;
}

footer h1 {
    font-size: 48px;
    color: #fff;
}

footer h1 span {
    color: #E55473;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
}

footer .copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}